<div class="row">
  <section class="main col-md-9">
    <article>
    <h2>About</h2>
    <p>My name is Simran Saini.I'm pursuing computer programming in Seneca College where I found that I'm interested in software designing and analysis. My goal is to achieve an IT job in Canada.</p>
    <p>I've always been fascinated by Programming because it can turn ideas into real things using code. It's amazing how you can create applications, solve problems, and make tasks easier by thinking logically and being creative. It's something that really captures our attention. </p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Connect with me for my future updates.</p>
  </aside>
</div>