<div class="row">
  <section class="main col-md-9">
    <article>
    <h2>About</h2>
    <p>Hey there! My name is Simran Saini. I'm pursuing computer programming in Seneca college where I built strong interest in software designing and analysis.</p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Stay Tuned for further updates.</p>
  </aside>
</div>